h1 {
    color: aquamarine;
}

.pill {
    font-size: 12px;
    padding: 0.5em 1em;
    margin: 0.25em;
    border-radius: 1em;
    border: none;
    outline: none;
    background: #dddddd;
    cursor: pointer;
}
.pill:not(.pill--selected):hover{
    background: #cccccc;
}
.pill--selected{
    background: aqua;
    color: #ffffff;
}

body {
    background-color: darkgray;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #0056b3;
}