<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <a href="{{ url_for('register') }}" class="button">Register</a>
    <a href="{{ url_for('login') }}" class="button">Login</a>

    <h1>Welcome, <span id="user_name">{{ user_name }}</span>!</h1> <!-- Directly embedding user_name from Python -->

    <form method="post" action="{{ url_for('home') }}">
        <h1>Home Page</h1>
        Enter a city: <input type="text" id="city" name="city" required>
        <button class="pill" type="submit">Click me!</button>

        <!-- Show the weather and temperature values from Python -->
        <p>{{ weather }}</p>
        <p>{{ temp }}°C</p>

        <!-- Conditional rendering of images based on the weather -->
        {% if weather == "Clouds" %}
            <img src="{{ url_for('static', filename='images/clouds.jpeg') }}" alt="Cloudy Image">
        {% elif weather == "Rain" %}
            <img src="{{ url_for('static', filename='images/rain-images.jpg') }}" alt="Rainy Image">
        {% elif weather == "Thunderstorm" %}
            <img src="{{ url_for('static', filename='images/thunderstorm.jpg') }}" alt="Thunderstorm Image">
        {% endif %}
    </form>
<script src="../static/css/js/index.js"></script>
</body>
</html>
